body {
    font-family: 'Lato', 'Open Sans', 'Roboto', sans-serif;
    // background-color: silver;
}

.clickable {
    cursor: pointer;
}

.rotate {
    animation: rotateMe 1s infinite linear;
}

.grow-me {
    animation: fontbulger 1s infinite linear;
}

@keyframes fontbulger {
    0%,
    100% {
        // font-size: 10px;
    }
    50% {
        font-size: 43px;
    }
}

@keyframes rotateMe {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.removeListHover {
    a.list__tile:hover,
    .list__tile--highlighted {
        // background: none !important;
        cursor: pointer;
    }
}